<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ps-3 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-md-0 text-dark text-decoration-none">
            <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
            <b class="ps-3">Logotipo ED</b>
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Início</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Contato</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Suporte</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          {% if user.is_authenticated %}
          <a class="btn btn-outline-primary">{{ user.first_name }}</a>
          <a class="btn btn-outline-danger" href="{% url 'essencial:sair' %}">Sair</a>
          {% else %}
          <a href="{% url 'essencial:entrar' %}" class="btn btn-outline-primary me-2">Entrar</a>
          {% endif %}
        </div>
    </header>
</div>
<div class="container">
  {% include 'global/breadcrumb.html' %}
</div>